<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>电脑</title>
    <script th:src="@{/js/jquery-1.4.2.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<h1>电脑</h1>
<label th:text="${msg}"></label>
<table class="table table-bordered">
    <thead>
    <tr>
        <td>主键(id)</td>
        <td>名称(name)</td>
        <td>价格(price)</td>
        <td>cpu(cpu)</td>
        <td>硬盘(disk)</td>
        <td>内存(ram)</td>
        <td>系统(system)</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="computer:${listPageInfo.list}">
        <td th:text="${computer.id}"></td>
        <td th:text="${computer.name}"></td>
        <td th:text="${computer.price}"></td>
        <td th:text="${computer.cpu}"></td>
        <td th:text="${computer.disk}"></td>
        <td th:text="${computer.ram}"></td>
        <td th:text="${computer.system}"></td>
    </tr>
    </tbody>
</table>
<input class="btn btn-success" type="button" value="导入" onclick="importExcel()"/>
<input class="btn btn-info" type="button" value="导出" onclick="exportExcel()"/>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<script>
    function importExcel() {

    }

    function exportExcel() {

    }
</script>
</body>
</html>